.hero {
  display: grid;
  grid-template-areas:
    "title title  name name"
    "img img subtitle subtitle"
    "img img subtitle subtitle";
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 100px repeat(2, 25rem);
  grid-gap: 20px;
  background: var(--off-white);
  padding-top: 4rem;
  padding-bottom: 8rem;
}
h1 {
  grid-area: name;
  justify-self: center;
  align-self: start;
  font-size: 10rem;
  text-align: right;
}
.hero_secondary-title {
  font-size: 7.2rem;
  font-family: var(--secondary-font);
  text-align: right;
}

.subtitle_container {
  grid-area: subtitle;
  justify-self: center;
  align-self: center;
}
.hero_greeting {
  grid-area: title;
  align-self: start;
  justify-self: center;
  font-size: 5.2rem;
  font-family: var(--secondary-font);
}
.blend {
  grid-area: img;
  width: 25rem;
  height: 23rem;
  opacity: 0.7;
  overflow: hidden;
  transition: all 0.3s ease-in;
  &:hover {
    opacity: 1;
    outline: 1.5rem solid var(--border-teal);
    -webkit-transform: scale(1.05) translateY(-0.5rem);
    transform: scale(1.05) translateY(-0.5rem);
    -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20;
  }
  .panda {
    transform: scale(1.5) translateY(20px);
  }
  .heart {
    transform: scale(0.5);
  }
}
.blend:nth-of-type(1) {
  justify-self: center;
}
.blend:nth-of-type(2) {
  background: rgba(255, 98, 53, 0.3);
  align-self: end;
  justify-self: center;
}
.blend:nth-of-type(3) {
  background: linear-gradient(
    rgba(116, 196, 185, 0.9),
    rgba(132, 160, 198, 0.4)
  );
  justify-self: end;
  align-self: center;
}
@media (max-width: 56rem) {
  .hero {
    display: grid;
    grid-template-areas:
      "title "
      "name"
      "img "
      "img "
      "subtitle";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 20px;
    margin-bottom: 5rem;
  }
  h1 {
    font-size: 6rem;
    text-align: left;
    justify-self: center;
  }
  .hero_secondary-title {
    text-align: left;
    font-size: 4.2rem;
  }
  .blend:nth-of-type(2),
  .blend:nth-of-type(3) {
    display: none;
  }
}
