
@media (min-width:76rem){
    menu {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        margin: 2rem auto 4rem auto;
        max-width: 1109px;
        height: 10vh;
        justify-content: end;
    }
    .logo {
        font-size: 2.4rem;
        font-weight: 700;
        justify-self: start;
        align-self: center;
    }
    nav {
        ul {
            display: flex;
            justify-content: space-between;
            a{
                color: var(--primary);
                font-family: var(--secondary-font);
                font-size: 3.6rem;
                font-weight: 700;
            }
            }
    }
}


@media (max-width:76rem){
    menu {
        display: flex;
    }
    .logo {
        font-size: 2.4rem;
        font-weight: 700;
        justify-self: start;
        align-self: center;
    }
    nav {
       display: none;
    }
}

